.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 450px;
}

.date {
  flex: 1;
  text-align: left;
}

.day {
  flex: 1;
  text-align: center;
  background-color: rgb(224, 243, 53);
}

.timeslots {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.timeslot {
  width: 40px;
  height: 18px;
  margin: 3px;
  background-color: lightgreen;
  cursor: pointer;
  
  border-radius: 15%;
}

.timeslot.booked {
  background-color: red;
  cursor: not-allowed;
}

.timeslot.selected {
  background-color: blue;
}






/* Стилі для діалогового вікна */
    .dialog-container {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    .dialog-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 500px;
    }
    
    .dialog-close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    
    /* Стилі для кнопки, що викликає діалогове вікно */
    .open-dialog-btn {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }